<section id="tasks" class="scrollbarHide">
  <header>
    <h2>{{ selectedName() }}</h2>
    <menu>
      <button (click)="onAddTask(true)">Add task</button>
    </menu>
  </header>


  <ul class="scrollbarHide">
    @if (addMode()) {
      <li>
        <app-new-task/>
      </li>
    } @else {
      @for (task of tasks(); track task.id) {
        @if (task.userId === selectUserId()) {
          <li >
            <app-task [task]="task"/>
          </li>
        }
      }
    }
  </ul>
</section>
